@model int
<a class="list-group-item @if (Model == 0)
                          {
                              @:active
                          }"
   asp-controller="Download" asp-action="Index" asp-route-id="">
    Download
</a>
<a class="list-group-item @if (Model == 1)
                          {
                              @:active
                          }"
   asp-controller="Download" asp-action="Installation" asp-route-id="">
    Installation
</a>