@using Portal.Settings
@using Portal.Utils
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject GeneralSetting GeneralSetting

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    if (User.IsInRole("Admin"))
    {
        <ul class="navbar-nav ml-auto mt-0">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin Area</a>
            </li>
        </ul>
    }
    <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <ul class="navbar-nav toolbar-item-only-sp">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Settings</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="nav-link btn btn-link">Log out</button>
            </li>
        </ul>
        <ul class="navbar-nav toolbar-item-only-pc">
            <li class="nav-item dropdown">
                <!-- Single button -->
                <a class="nav-link dropdown-toggle py-0" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Html.GravatarImage(user.Email, 32, GravatarHtmlHelper.DefaultImage.Identicon, cssClass: "rounded")
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <span class="dropdown-item">Hello @user.UserName!</span>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="" asp-controller="Manage" asp-action="Index">Your profile</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Setting</a>
                    <button class="dropdown-item" type="submit" class="btn">Log out</button>
                </div>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav ml-auto mt-0">
        @if (GeneralSetting.CreateAccount)
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    </ul>
}