@using Portal.Data
@inject ApplicationDbContext DbContext
@{
    Layout = "_SidebarLayout";
    ViewBag.Title = "Download Coremod";
    ViewBag.SubTitle = "Download";
}
@section Sidebar {
    @Html.Partial("Part/_DownloadSidebar", 0)
}
@section HeadDevelopment {
    <link rel="stylesheet" href="~/css/download.css"/>
}
@section Head {
    <link rel="stylesheet" href="~/css/download.min.css"/>
}

<h3>Download</h3>

<div class="panel panel-default">
    <ul class="list-group">
        @foreach (var minecraftVersion in DbContext.MinecraftVersions.AsEnumerable())
        {
            <li class="list-group-item">
                <div class="panel-btn-container">
                    <p>Minecraft @minecraftVersion.Version</p>
                    <a class="btn btn-success" asp-controller="Download" asp-action="Index" asp-route-version="@minecraftVersion.Id">Download</a>
                </div>
            </li>
        }
    </ul>
</div>