@{
    Layout = "_SidebarLayout";
    ViewBag.Title = "Download Coremod";
    ViewBag.SubTitle = "Installation";
}
@section Sidebar {
    @Html.Partial("Part/_DownloadSidebar", 1)
}
@section HeadDevelopment {
    <link rel="stylesheet" href="~/css/download.css" asp-append-version="true"/>
}
@section Head {
    <link rel="stylesheet" href="~/css/download.min.css"/>
}

<h3>Installation</h3>
