@using Portal.Settings
@using Portal.Utils
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject GeneralSetting GeneralSetting

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav">
            <li class="toolbar-item-only-sp">
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @user.UserName!</a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a asp-area="" asp-controller="Admin" asp-action="Index">Admin Area</a>
                </li>
            }
            <li class="toolbar-item-only-sp">
                <button type="submit" class="btn btn-link navbar-btn navbar-link navbar-btn-sp">Log out</button>
            </li>
            <li class="toolbar-item-only-pc">
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" id="toolbar-user-icon" class="btn btn-default dropdown-toggle navbar-btn navbar-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Html.GravatarImage(user.Email, 32, GravatarHtmlHelper.DefaultImage.Identicon)
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <span>Hello @user.UserName!</span>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a asp-area="" asp-controller="Manage" asp-action="Index">Your profile</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Setting</a>
                        </li>
                        <li>
                            <button type="submit" class="btn">Log out</button>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (GeneralSetting.CreateAccount)
        {
            <li>
                <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            </li>
        }
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    </ul>
}