@import "modules/common";
@import "modules/sidebar";
@import "modules/bs_card";

// Users list

#admin-user-container {
  margin-top: 15px;
  border-top: 1px solid #eee;
}

.admin-user {
  display: flex;
  align-items: center;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #eee;

  > *:last-child {
    margin-left: auto;
  }
}

// Snippet editor

#snippet-editor {
  height: 50vh;
  margin-top: 20px;
  border: solid 1px #eee;
}

// Ordering button

.btn-ordering-up {
  margin-right: 8px;
}

.btn-ordering-down {
  margin-right: 16px;
}

// Dummy form

.form-group-dummy {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 15px;

  > span:first-child {
    line-height: 32px;
  }

  > span:last-child {
    line-height: 32px;
  }
}

// Form

.form-group {
  div {
    align-self: center;
  }

  input[type="checkbox"] {
    width: auto;
    height: auto;
  }

  input[type="file"] {
    border: none;
    box-shadow: none;
    padding: 0;
  }
}