@import "modules/sidebar";

input {
  max-width: inherit;
}

.header-btn {
  display: flex;
}

.header-btn > h3 {
  flex: 1;
}

.header-btn > a {
  align-self: center;
}

#admin-user-container {
  margin-top: 15px;
  border-top: 1px solid #eee;
}

.admin-user {
  display: flex;
  align-items: center;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #eee;
}

.admin-user > *:last-child {
  margin-left: auto;
}

.admin-user-email {
  margin: 0 10px;
}

.font-weight-bold {
  font-weight: 600;
}

h3 + div.panel,
div.header-btn + div.panel {
  margin-top: 20px;
}

.panel-btn-container > div > p:first-child {
  font-weight: 600;
  margin-bottom: 5px;
}

.panel-btn-container > div > p:last-child {
  margin: 0;
}

.form-user-info,
.form-group-dummy {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 15px;
}

.form-user-info > span,
.form-group-dummy > span:first-child {
  text-align: right;
  font-weight: bold;
  line-height: 32px;
}

.form-user-info > div > span {
  margin-left: 10px;
}

.form-group-dummy > span:last-child {
  line-height: 32px;
}

.panel-btn-container {
  display: flex;
  align-items: center;
}

.panel-btn-container > *:first-child {
  margin-right: auto;
}

.panel-btn-container > p {
  margin-bottom: 0;
}

#snippet-editor {
  height: 50vh;
  margin-top: 20px;
  border: solid 1px #eee;
}

.btn-ordering-up {
  margin-right: 8px;
}

.btn-ordering-down {
  margin-right: 16px;
}

.btn-margin {
  margin-right: 16px;
}

.form-group input[type="checkbox"] {
  width: auto;
  height: auto;
}

.form-group.form-group-checkbox div {
  height: 34px;
  display: flex;
  align-items: center;
}

.form-group input[type="file"] {
  border: none;
  box-shadow: none;
  padding: 0;
}

.panel-heading-btn {
  display: flex;
  align-items: center;

  h3 {
    flex: 1;
  }
}