@import "modules/common";
@import "modules/navigation_tab";
@import "modules/svg_icon";

/* /Projects */

#projects-search-input {
  flex: 1;
}

// Project list

#projects-list {
  > ul {
    border-bottom: 1px #e1e4e8 solid;
    list-style-type: disc;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    > li {
      display: block;
      padding-top: 24px;
      padding-bottom: 24px;
      border-top: 1px #e1e4e8 solid;

      > div:first-of-type {
        display: inline-block;

        > h3 {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 20px;
          font-weight: 600;
        }

        a {
          color: #0366d6;
          text-decoration: none;
        }
      }

      > div:last-of-type {
        margin-top: 8px;

        > span {
          font-size: 14px;
          margin-right: 8px;
        }
      }
    }
  }
}

/* /Projects/New */

.note {
  min-height: 17px;
  margin: 4px 0 2px;
  font-size: 0.725rem;
  color: #586069;
}

.form-horizontal-group {
  display: flex;
  align-items: flex-end;
}

.form-horizontal-divider {
  font-size: 21px;
  color: #586069;
  margin: 0 12px 4px;
}

/* /Projects/{uuid} */

#project-header {
  background-color: #fafbfc;
  background-clip: padding-box;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

#project-page-title {
  display: flex;

  > h2 {
    flex: 1;
  }

  > a {
    align-self: flex-end;
  }
}

#project-description-container {
  display: flex;

  > a {
    align-self: center;
  }
}

#project-description {
  flex: 1;
  font-size: 16px;
}

.project-description-empty {
  font-style: italic;
}

#project-description-edit-container {
  display: none;
  flex-direction: row;
  align-items: flex-end;

  > div:first-child {
    flex: 1;
  }

  input {
    max-width: none;
  }
}

#project-description-edit-confirm {
  margin-left: 12px;
}

#project-description-edit-cancel {
  cursor: pointer;
}