@{
    Layout = "_Layout";
    ViewBag.Title = "Forgot Password Confirmation";
}
@section HeadDevelopment {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true"/>
}
@section Head {
    <link rel="stylesheet" href="~/css/account.min.css"/>
}

<h2>@ViewBag.Title</h2>
<p>
    Please check your email to reset your password.
</p>