@{
    ViewBag.Title = "About";
}
@section HeadDevelopment {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
}
@section Head {
    <link rel="stylesheet" href="~/css/home.min.css"/>
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>