@{
    Layout = Layout = "_EditorLayout";
    ViewBag.Title = "Editor - " + ViewBag.Name;
}

@section Scripts
{
    <script src="~/js/editor.js"></script>
}
<div id="editor-menu">
    <div class="dropdown">
        <span class="dropdown-toggle" id="editor-menu-dropdown-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            File
        </span>
        <ul class="dropdown-menu" aria-labelledby="editor-menu-dropdown-1">
            <li>
                <i class="dropdown-menu-icon dropdown-menu-icon-none" aria-hidden="true"></i>
                <a href="#">Action</a>
            </li>
            <li>
                <i class="dropdown-menu-icon dropdown-menu-icon-none" aria-hidden="true"></i>
                <a href="#">Another action</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <i class="dropdown-menu-icon dropdown-menu-icon-none" aria-hidden="true"></i>
                <a href="#">Separated link</a>
            </li>
        </ul>
    </div>
    <div class="dropdown">
        <span class="dropdown-toggle" id="editor-menu-dropdown-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            View
        </span>
        <ul class="dropdown-menu" aria-labelledby="editor-menu-dropdown-2">
            <li data-menu-command="navigation-bar">
                <i class="dropdown-menu-icon fa fa-check" aria-hidden="true"></i>
                <a href="#">Navigation Bar</a>
            </li>
            <li>
                <i class="dropdown-menu-icon dropdown-menu-icon-none" aria-hidden="true"></i>
                <a href="#">Another action</a>
            </li>
        </ul>
    </div>
</div>

<div id="editor-toolbar">
    <ol class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Library</a>
        </li>
        <li class="active">Data</li>
    </ol>
</div>

<div id="editor-root">
    <div id="tree-container">
        <div class="header">Project</div>
        <div class="content">

        </div>
    </div>
    <div id="editor-container">
        <div class="content">
            <div id="editor-tabs">
                <ul id="editor-tab-root">
                    <li id="editor-tab-empty">
                        <a href="#editor-pane-empty">Empty</a>
                    </li>
                </ul>
                <div id="editor-blank-header"></div>
                <div id="editor-pane-empty" class="editor-pane-root">
                    No window opened
                </div>
            </div>
        </div>
    </div>
</div>