@{
    Layout = Layout = "_EditorLayout";
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="~/js/editor.js"></script>
}

<div id="editor-root">
    <div id="tree-container">
        <div class="header">Project</div>
        <div class="content">

        </div>
    </div>
    <div id="editor-container">
        <div class="content">
            <div id="editor-tabs">
                <ul id="editor-tab-root">
                    <li id="editor-tab-empty">
                        <a href="#editor-pane-empty">Empty</a>
                    </li>
                </ul>
                <div id="editor-blank-header"></div>
                <div id="editor-pane-empty" class="editor-pane-root">
                    No window opened
                </div>
            </div>
        </div>
    </div>
</div>