@{
    ViewData["Title"] = "Home Page";
}

<h2>Projects</h2>


<li><a asp-area="" asp-controller="Projects" asp-action="Index" asp-route-uuid="36fafa84-91be-4d6b-a916-bc6667677b65">Project 1</a></li>
<li><a asp-area="" asp-controller="Projects" asp-action="Index" asp-route-uuid="36fafa84-91be-4d6b-a916-abdcef000000">Project 2</a></li>