@using Microsoft.EntityFrameworkCore
@using Portal.Data
@inject ApplicationDbContext DbContext
@{
    Layout = "_SidebarLayout";
    ViewBag.Title = "Admin Area";
    ViewBag.SubTitle = "Asset";
}
@section Sidebar {
    @Html.Partial("Part/_AdminSidebar", 3)
}
@section HeadDevelopment {
    <link rel="stylesheet" href="~/css/admin.css"/>
}
@section Head {
    <link rel="stylesheet" href="~/css/admin.min.css"/>
}

@switch (ViewBag.Message)
{
}

<h3>Asset</h3>

<div class="panel panel-default">
    
</div>