@{
    Layout = "_SidebarLayout";
    ViewBag.Title = "Admin Area";
    ViewBag.SubTitle = "General";
}
@section Sidebar {
    @Html.Partial("Part/_AdminSidebar", 0)
}
@section HeadDevelopment {
    <link rel="stylesheet" href="~/css/admin.css"/>
}
@section Head {
    <link rel="stylesheet" href="~/css/admin.min.css"/>
}

<h3>General</h3>