@model Portal.Models.AdminViewModels.VersionsPostViewModel
@{
    Layout = "_SidebarLayout";
    ViewBag.Title = "Admin Area";
    ViewBag.SubTitle = "Create new Minecraft version";
}
@section Sidebar {
    @Html.Partial("Part/_AdminSidebar", 3)
}
@section HeadDevelopment {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true"/>
}
@section Head {
    <link rel="stylesheet" href="~/css/admin.min.css"/>
}

<h3>Create new Minecraft version</h3>
<hr/>
<form asp-controller="Admin" asp-action="Versions" asp-route-id="New" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="NewVersionViewModel.Version" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="NewVersionViewModel.Version" class="form-control"/>
            <span asp-validation-for="NewVersionViewModel.Version" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="NewVersionViewModel.DockerImageVersion" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="NewVersionViewModel.DockerImageVersion" class="form-control"/>
            <span asp-validation-for="NewVersionViewModel.DockerImageVersion" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("Misc/_ValidationScriptsPartial"); }
}