@using Microsoft.EntityFrameworkCore
@using Portal.Data
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Snippet";
}
@inject ApplicationDbContext DbContext

@section Sidebar {
    @Html.Partial("_AdminSidebar", 2)
}

<h3>Snippet</h3>

@foreach (var group in DbContext.Snippets.AsNoTracking().Include(s => s.Group).GroupBy(s => s.Group).OrderBy(g => g.Key.Order))
{
    <div class="panel panel-default snippet-group-panel">
        <div class="panel-heading">
            <h3 class="panel-title">@group.Key.DisplayName</h3>
        </div>
        <ul class="list-group">
            @foreach (var snippet in group.OrderBy(snippet => snippet.Order))
            {
                <li class="list-group-item">
                    <div class="panel-btn-container">
                        <p>@snippet.DisplayName</p>
                        <a class="btn btn-default" asp-controller="Admin" asp-action="Snippet" asp-route-id="@snippet.Id" asp-route-subaction="Edit">Edit</a>
                    </div>
                </li>
            }
        </ul>
    </div>
}