@using Portal.Utils
@{
    Layout = "_SidebarLayout";
    ViewBag.Title = "Admin Area";
    ViewBag.SubTitle = "Users";
}
@section Sidebar {
    @Html.Partial("Sidebar/_AdminSidebar", 1)
}
@section HeadDevelopment {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true"/>
}
@section Head {
    <link rel="stylesheet" href="~/css/admin.min.css"/>
}

@switch (ViewBag.Message)
{
    case "success_delete_user":
        <div class="alert alert-success" role="alert">User Deleted.</div>
        break;
}

<div class="subheader-btn">
    <h3>Users</h3>
    <a class="btn btn-sm btn-success" asp-controller="Admin" asp-action="Users" asp-route-id="New">Create new user</a>
</div>

<hr/>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
    <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Search</button>
    </span>
</div>

<div id="admin-user-container">
    @foreach (var user in Model)
    {
        <div class="admin-user">
            @{
                string email = user.Email;
            }
            @Html.GravatarImage(email, 32, GravatarHtmlHelper.DefaultImage.Identicon)
            <span class="mx-2">
                @user.UserName
            </span>
            <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="Users" asp-route-id="@user.Id">Detail</a>
        </div>
    }
</div>