@model Portal.Models.AdminViewModels.VersionsPostViewModel
@{
    Layout = "_SidebarLayout";
    ViewBag.Title = "Admin Area";
    ViewBag.SubTitle = "Create a new Forge version";
}
@section Sidebar {
    @Html.Partial("Sidebar/_AdminSidebar", 3)
}
@section HeadDevelopment {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true"/>
}
@section Head {
    <link rel="stylesheet" href="~/css/admin.min.css"/>
}

<h3>Create a new Forge version</h3>

<hr/>

<form asp-controller="Admin" asp-action="Versions" asp-route-id="@Model.NewForgeVersionViewModel.MinecraftVersion.Id"
      asp-route-subaction="New" method="post" enctype="multipart/form-data">
    <div class="form-group-dummy row">
        <span class="col-md-2">Minecraft</span>
        <span class="col-md-10">@Model.NewForgeVersionViewModel.MinecraftVersion.Version</span>
    </div>
    <div class="form-group row">
        <label asp-for="NewForgeVersionViewModel.Version" class="col-md-2 col-form-label">Name</label>
        <div class="col-md-10">
            <input asp-for="NewForgeVersionViewModel.Version" class="form-control" value="@Model.NewForgeVersionViewModel.Version"/>
            <span asp-validation-for="NewForgeVersionViewModel.Version" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="NewForgeVersionViewModel.IsRecommend" class="col-md-2 col-form-label">IsRecommend</label>
        <div class="col-md-10">
            <input asp-for="NewForgeVersionViewModel.IsRecommend" class="form-control" type="checkbox"/>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="NewForgeVersionViewModel.ForgeZipFile" class="col-md-2 col-form-label">Template File</label>
        <div class="col-md-10">
            <input asp-for="NewForgeVersionViewModel.ForgeZipFile" class="form-control" type="file" accept=".zip"/>
            <span asp-validation-for="NewForgeVersionViewModel.ForgeZipFile" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-10 offset-md-2">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("Misc/_ValidationScriptsPartial"); }
}